@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: PPNeueMachina;
  src: url('assets/fonts/primary/PPNeueMachina-InktrapRegular.otf');
}
@font-face {
  font-family: InterRegular;
  src: url('assets/fonts/secondary/Inter-Regular.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: 'InterRegular';
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.oneRowEllipsis {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.twoRowEllipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(116, 132, 157, 0.1);
  margin: 1em 0;
  padding: 0;
}
